#header {
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #b2babb; 
}

#main-container {
  margin-bottom: 20px; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #b2babb; 
}

#footer {
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #b2babb; 
}

.character-card{
  margin-bottom: 10px;
}

.card{
  margin: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}